# maven ignore
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz

# eclipse ignore
.settings/
.project
.classpath
# vscode ignore
.vscode

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*/log
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db

# c routine ignore
*.o
*.out
*.a
_*
**/main

# java 
*.class
ant_build_input.xml
pomDependency.xml

# sqlite
db/*
